<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="lib/html5shiv.js"></script>
    <script type="text/javascript" src="lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="static/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/H-ui.admin.css"/>
    <link rel="stylesheet" type="text/css" href="lib/Hui-iconfont/1.0.8/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="static/h-ui.admin/skin/default/skin.css" id="skin"/>
    <link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/style.css"/>
    <!--[if IE 6]>
    <script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>图片列表</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> Apk管理 <span
        class="c-gray en">&gt;</span> 任务管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
                                              href="javascript:location.replace(location.href);" title="刷新"><i
        class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">

    <div class="cl pd-5 bg-1 bk-gray mt-20"><span class="l"> <a
            class="btn btn-primary radius" onclick="picture_add('添加任务','/order-add')" href="javascript:;"><i
            class="Hui-iconfont">&#xe600;</i> 添加任务</a></span> <span class="r">共有数据：<strong
            th:text="${orders.size()}">54</strong> 条</span></div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort">
            <thead>
            <tr class="text-c">
                <!--<th width="40"><input name="" type="checkbox" value=""></th>-->
                <th width="80">ID</th>
                <th width="100">icon</th>
                <th width="100">名称</th>
                <th width="100">包名</th>
                <th width="150">版本号</th>
                <th width="200">更新时间</th>
                <th width="60">任务状态</th>
                <th width="100">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-c" th:each="order : ${orders}">
                <!--<td><input name="" type="checkbox" value=""></td>-->
                <td class="text-id" th:text="${order.id}">001</td>
                <td><img width="50"
                         class="picture-thumb"
                         src="temp/200x150.jpg" th:src="@{/apk/download(id=${order.info.iconPath.id})}"></td>
                <td th:text="${order.info.name}"></td>
                <td class="text-l" th:text="${order.info.packageName}">现代简约 白色 餐厅</td>
                <td class="text-c" th:text="${order.info.versionName}">标签</td>
                <td th:text="${#dates.format(order.updateTime,'yyyy-MM-dd HH:mm:ss')}">2014-6-11 11:11:42</td>

                <td class="td-status" th:if="${order.state.name()=='INIT'}"><span
                        class="label label-primary radius">已上传</span></td>
                <td class="td-status" th:if="${order.state.name()=='HANDLE'}"><span class="label label-warning radius">处理中</span>
                </td>
                <td class="td-status" th:if="${order.state.name()=='ERROR'}"><span
                        class="label label-danger radius">报错</span></td>
                <td class="td-status" th:if="${order.state.name()=='SUCCESS'}"><span class="label label-success radius">成功</span>
                </td>


                <td class="td-manage">
                    <a th:if="${order.state.name()=='INIT' && (order.channelFile == null || order.signInfo == null )}"
                       style="text-decoration:none" onclick="add_info(this)"
                       href="javascript:;"
                       title="补充信息">
                        <i class="Hui-iconfont">&#xe645;</i>
                    </a>
                    <a th:if="${order.state.name()=='SUCCESS'}" style="text-decoration:none"
                       onclick="order_success_show(this)"
                       href="javascript:;"
                       title="详细信息">
                        <i class="Hui-iconfont">&#xe725;</i>
                    </a>
                    <a th:if="${order.state.name()=='INIT'}" style="text-decoration:none" onclick="order_show(this)"
                       href="javascript:;"
                       title="详细信息">
                        <i class="Hui-iconfont">&#xe725;</i>
                    </a>
                    <a th:if="${order.state.name()=='INIT' && (order.channelFile != null && order.signInfo != null )}"
                       style="text-decoration:none" class="ml-5"
                       onclick="start_order(this)"
                       href="javascript:;" title="执行打包">
                        <i class="Hui-iconfont">&#xe6e6;</i>
                    </a>
                    <a th:if="${order.state.name()!='HANDLE'}" style="text-decoration:none" class="ml-5"
                       onClick="delete_order(this)"
                       href="javascript:;" title="删除">
                        <i class="Hui-iconfont">&#xe6e2;</i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
    /*<![CDATA[*/
    $('.table-sort').dataTable({
        "aaSorting": [
            [5, "desc"]
        ],//默认第几个排序
        "bStateSave": true,//状态保存
        "pading": false
    });
    /*]]>*/

    /*图片-添加*/
    function picture_add(title, url) {
        var index = layer.open({
            type: 2,
            title: title,
            content: url
        });
        layer.full(index);
    }

    /*添加信息*/
    function add_info(obj) {
        var id = $(obj).parents("tr").find(".text-id").html();
        var url = '/add-order-info?id=' + id;
        var index = layer.open({
            type: 2,
            title: '添加信息',
            content: url
        });
        layer.full(index);
    }

    /*添加信息*/
    function redirect(id) {
        var url = '/add-order-info?id=' + id;
        console.log(url);
        var index = layer.open({
            type: 2,
            title: '完善信息',
            content: url
        });
        layer.full(index);
    }

    /*查看信息-二维码页面，具体分析*/
    function order_show(obj) {
        var id = $(obj).parents("tr").find(".text-id").html();
        var url = '/get-order?id=' + id;
        var w = '360';
        var h = '500';
        console.log(url);
        layer_show('查看APK信息', url, w, h);
    }

    //成功后的查看页面
    function order_success_show(obj) {
        var id = $(obj).parents("tr").find(".text-id").html();
        var url = '/get-order-success?id=' + id;

        layer_show('查看APK信息', url, '500', '500');
    }

    //开始打包
    function start_order(obj) {
        var id = $(obj).parents("tr").find(".text-id").html();
        var url = '/apk/start-sign?id=' + id;
        layer.confirm('确定要开始吗？', function (index) {
            $.ajax({
                type: 'GET',
                url: url,
                success: function (data) {
                    if (data.success) {
                        layer.msg('开启成功！');
                        location.reload()
                    } else {
                        layer.msg('开启失败！' + data.msg);
                        location.reload()
                    }

                },
                error: function (data) {
                    console.log(data.msg);
                    layer.msg('开启失败！');
                }
            });
        });
    }

    function delete_order(obj) {
        var id = $(obj).parents("tr").find(".text-id").html();
        var url = '/apk/order-delete?id=' + id;
        layer.confirm('确定要删除吗？', function (index) {
            $.ajax({
                type: 'GET',
                url: url,
                success: function (data) {
                    if (data.success) {
                        layer.msg('删除成功！');
                        location.reload()
                    } else {
                        layer.msg('删除失败！' + data.msg);
                    }

                },
                error: function (data) {
                    console.log(data.msg);
                    layer.msg('删除失败！');
                }
            });
        });
    }
</script>
</body>
</html>