<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="lib/html5shiv.js"></script>
    <script type="text/javascript" src="lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="static/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/H-ui.admin.css"/>
    <link rel="stylesheet" type="text/css" href="lib/Hui-iconfont/1.0.8/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="static/h-ui.admin/skin/default/skin.css" id="skin"/>
    <link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/style.css"/>
    <!--[if IE 6]>
    <script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>用户查看</title>
</head>
<body>
<div class="cl pd-20" style=" background-color:#5bacb6">
    <img class="avatar size-XL l" th:src="@{/apk/download(id=${orderItem.info.iconPath.id})}"
         src="static/h-ui/images/ucnter/avatar-default.jpg">
    <dl style="margin-left:80px; color:#fff">
        <dt>
            <span class="f-18" th:text="${orderItem.info.name}">张三</span>
            <span class="pl-10 f-12" th:text="${orderItem.info.versionName}">余额：40</span>
        </dt>
        <dd class="pt-10 f-12" style="margin-left:0" th:text="${orderItem.info.packageName}">这家伙很懒，什么也没有留下</dd>
    </dl>
</div>
<div>
    <div class="text-c pd-10">
        <a class="btn btn-primary radius"  th:href="@{/apk/download(id=${orderItem.channelZip.id})}"><i class="Hui-iconfont">&#xe641;</i> 打包下载</a>
    </div>
    <div class="text-c pd-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort">
            <thead>
            <tr class="text-c">
                <!--<th width="40"><input name="" type="checkbox" value=""></th>-->
                <th width="80">渠道列表</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-c" th:each="channel : ${orderItem.channelList}">
                <!--<td><input name="" type="checkbox" value=""></td>-->
                <td class="text-id"><a class="maincolor" th:href="@{/apk/download(id=${channel.id})}"
                                       th:text="${ channel.fileName}">001</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="static/h-ui.admin/js/H-ui.admin.js"></script>
<script type="text/javascript" src="static/qrcode.js"></script>
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->

<script type="text/javascript" th:inline="javascript">
    // var apkId = /*[[${orderItem.info.filePath.id}]]*/;
    // var apkUrl = 'http://' + window.location.host + '/apk/download?id='+apkId;
    // new QRCode(document.getElementById("qrcode"), apkUrl);
</script>

</body>
</html>